.appbar {
  background-color: red !important;
}
body{
  margin: 0 auto !important;
  padding: 0 auto !important;
 
}

.button {
  color: black !important;
  margin-right: 50% !important;
}
.search-bar{
  margin: 30px;
  text-align: center;
  border-radius: 10px;
  background-color: lightgray !important;
  
}
.navbar {
  background-color: lightgray !important;
  
}
.video-details {
  font-size: 17px;
  font-weight: bold;
}

.media-heading:hover {
  color: lightblue;
}

.search-bar input {
     width: 75%;
     color: black !important;
    padding: 12px 20px;
    margin: 25px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.search-bar img {
  height: 100px !important;
}
.video item img {
  max-width: 64px;
}
.view{
  overflow: scroll;
  width: 100% !important;
}
.video-detail .details {
  margin-top: 10px;
  width: 100% !important;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;

}
.list-group-item {
  cursor: pointer;
  background-color: skyblue;
}
.list-group-item:hover {
  background-color: lightcyan;
}
.list-group{
  float: right !important;
}
.video-detail{
  width: 100% !important;
}
.loader {
  margin: 19%; 
  margin-left: 20% !important;
  
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.navbar-brand {
  color: red !important;
 
}
.navbar {
  background-color: #a8c9ff !important;
}
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }